.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin-top: -5vh;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #ffffff;
}